/*GENERAL STYLE*/

body {
  font-family: "Open Sans", serif;
  padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  /* text-transform: uppercase; */
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

a {
  color: #bd5d38;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}

.subheading {
  /* text-transform: uppercase; */
  font-weight: 500;
  font-family: "Saira Extra Condensed", serif;
  font-size: 1.35rem;
}

#redux {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#sextant {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#strabon {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#matlab {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#lua {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#haskell {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#opengl {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#ajax {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#msoffice {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#presentations {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#latex {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

#sextant:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#redux:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#strabon:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#matlab:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#lua:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#haskell:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#opengl:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#ajax:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#msoffice:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#latex:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

#presentations:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}
/*==================================================
                  SOCIAL-ICON
====================================================*/
.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #bd5d38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
  filter: opacity(0.5) drop-shadow(0 0 0 #bd5d38) saturate(5);
}

/*==================================================
                    NAV-BAR
====================================================*/
#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  /* text-transform: uppercase; */
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

/*=========================
	Story CSS
===========================*/
/*
.story{
	padding:100px 0px;
	background:#f5f5f5;
}
.story .story-content{}
.story .single-story {
	position:relative;
	margin-top:55px;
}
.story .single-story .inner-content{
	margin-left:125px;
	position:relative;
}
.story .story-content{
	position:relative;
}
.story .story-content::before {
	position: absolute;
	content: "";
	left: 90px;
	top: 0;
	height: 100%;
	width: 1px;
	background: #BD5D38;
}
.story .single-story span {
	display: block;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	left: -60px;
	top: 0;
	background: #333;
	color: #fff;
	border-radius: 3px;
	height: 35px;
	width: 160px;
	text-align: center;
	line-height: 35px;
}

.story .single-story span::before {
	position: absolute;
	content: "";
	left: 141px;
	top: 9px;
	height: 18px;
	width: 18px;
	background: #BD5D38;
	border-radius: 100%;
}
.story .single-story span::after {
	position: absolute;
	content: "";
	border: 10px solid #333;
	left: 158px;
	top: 7px;
	border-right: 10px solid transparent;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
}
.story .single-story h3 {
	font-size: 24px;
	font-weight: 600;
	color:#000;
	padding-bottom: 3px;
}
.story .single-story p{
	color:#000c;
	font-size:15px;
	font-weight:300;
}
.story .single-story p:before {
	position: absolute;
    content: "";
    left: -40px;
    top: 13px;
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 100%;
}
.story .single-story .p2 {
	margin-top: 15px;
}
*/
/*=========================
	End Story CSS
===========================*/

/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
  background-color: transparent;
  text-align: center;
  border-width: 1px;
  border-radius: 0px;
  font-size: 16px;
  padding: 10px 15px;
  font-weight: 400;
  /* text-transform: uppercase; */
}

.btn-white {
  border-color: #bd5d38;
  background-color: #bd5d38;
  color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  background-color: transparent;
  color: #bd5d38;
  cursor: pointer;
}

.btn-green {
  border-color: #bd5d38;
  color: #bd5d38;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #bd5d38;
  color: #fff;
  cursor: pointer;
}

/*==================================================
                  SECTION (Generic)
====================================================*/
.heading-border {
  width: 60px;
  height: 10px;
  background-color: #bd5d38;
  margin: 0 auto 20px auto;
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #bd5d38 !important;
}

.text-primary {
  color: #bd5d38 !important;
}

/*==================================================
                      ABOUT
====================================================*/
#about {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#about h1 {
  /*font-size: 100%;*/
}

/*==================================================
                    EXPERIENCE
====================================================*/
#experience {
  background: #f5f5f5;
}

#experience .card h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: none;
  color: #555;
}

div.skills-heading {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

/*====================================================
                      SKILLS
======================================================*/

#skills {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.skill-cover {
  background-color: rgba(31, 31, 31, 0.68);
}

.skill-cover h3 {
  font-family: "hind", sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
}

.skill-item {
  padding: 20px 0;
  margin-bottom: 30px;
  background: rgba(144, 144, 144, 0.78);
}

.skill-item i {
  color: #bd5d38;
}

.skill-item h2 {
  color: #fff;
  font-size: "hind", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 1px;
}

.skill-item p {
  color: #fff;
  font-family: "hind", sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 300;
  margin-top: 0;
}

/*====================================================
                      EXPERIENCE
======================================================*/

#experiences {
  background: #f0f0f0;
}

#experience-box {
  overflow: hidden;
  position: relative;
  padding: 60px 0;
}

#experience-box:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #cfcdcd;
  position: absolute;
  top: 0;
  left: 50%;
}

#experience-box .experience {
  width: 50%;
  clear: both;
  position: relative;
}

#experience-box .experience:before,
#experience-box .experience:after {
  content: "";
  display: block;
  clear: both;
}

#experience-box .experience:first-child:before,
#experience-box .experience:last-child:before {
  content: "";
  width: 11px;
  height: 11px;
  background: #cfcdcd;
  box-sizing: content-box;
  border: 5px solid #fff;
  box-shadow: 0 0 0 2px #cfcdcd;
  position: absolute;
  top: -54px;
  right: -11px;
  transform: rotate(45deg);
}

#experience-box .experience:last-child:before {
  top: auto;
  bottom: -54px;
}

#experience-box .experience:last-child:nth-child(even):before {
  right: auto;
  left: -11px;
}

#experience-box .experience-icon {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #cfcdcd;
  position: absolute;
  top: 17px;
  right: -13px;
  z-index: 1;
  transform: rotate(45deg);
}

#experience-box .experience-icon:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.2s ease 0s;
}

#experience-box .experience:hover .experience-icon:before {
  background: #bd5d38;
}

#experience-box .experience-content {
  width: 85%;
  padding: 18px 30px;
  background: #fff;
  text-align: right;
  float: left;
  border: 1px solid transparent;
  position: relative;
  transition: all 0.3s ease 0s;
}

#experience-box .experience:hover .experience-content {
  border: 1px solid #cfcdcd;
}

#experience-box .experience-content:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #cfcdcd;
  position: absolute;
  top: 21px;
  right: -7.3px;
  transform: rotate(45deg);
  transition: all 0.2s ease 0s;
}

#experience-box .experience:hover .experience-content:before {
  background: #bd5d38;
  border-color: #bd5d38;
}

#experience-box .experience-content:after {
  content: "";
  width: 11%;
  height: 1px;
  background: #cfcdcd;
  position: absolute;
  top: 28px;
  right: -14%;
}

#experience-box .date {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #bd5d38;
  margin: 0 0 8px;
  transition: all 0.3s ease 0s;
}

#experience-box .experience:hover .date {
  color: #444;
}

#experience-box .title {
  font-size: 18px;
  color: #444;
  margin-top: 0;
  transition: all 0.3s ease 0s;
}

#experience-box .experience:hover .title {
  color: #bd5d38;
}

#experience-box .description {
  font-size: 16px;
  color: #777;
  line-height: 28px;
  margin-top: 8px;
}

#experience-box .experience:nth-child(2n),
#experience-box .experience:nth-child(2n) .experience-content {
  float: right;
  text-align: left;
}

#experience-box .experience:nth-child(2n) .experience-icon {
  right: 0;
  left: -12px;
}

#experience-box .experience:nth-child(2n) .experience-content:before {
  left: -7.3px;
}

#experience-box .experience:nth-child(2n) .experience-content:after {
  left: -14%;
}

@media only screen and (max-width: 767px) {
  #experience-box {
    padding-left: 20px;
  }
  #experience-box:before {
    left: 20px;
  }
  #experience-box .experience {
    width: 100%;
  }
  #experience-box .experience,
  #experience-box .experience-content {
    float: right;
    padding: 5px;
    text-align: left;
  }
  #experience-box .experience:first-child:before,
  #experience-box .experience:last-child:nth-child(odd):before {
    right: auto;
    left: -11px;
  }
  #experience-box .experience-icon {
    right: 0;
    left: -12px;
  }
  #experience-box .experience-content:before {
    left: -7.3px;
  }
  #experience-box .experience-content:after {
    left: -14%;
  }
}

/*====================================================
                   CONTACT
======================================================*/

#contact {
  padding: 50px 0;
}

#contact .contact-cont h3 {
  color: #555;
  font-size: 45px;
}

#contact .contact-cont p {
  padding-right: 20px;
  font-size: 15px;
}

#contact .contact-cont2 address,
#contact .contact-cont2 address a {
  color: #666;
}

.con-form input {
  border-color: #ccc;
  border-radius: 0;
  color: #717171;
  margin-top: 30px;
}

.con-form textarea {
  width: 100%;
  height: 200px;
  margin: 30px 0;
  border-color: #ccc;
  border-radius: 0;
  color: #717171;
}

.contact-side-desc {
  padding-top: 40px;
}

.contact-box-desc h3 {
  color: #555;
}

.contact-box-desc h3 i {
  color: #bd5d38;
}

.social-icon-f li {
  display: inline-block;
}

.social-icon-f li i {
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 2px solid #bd5d38;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  #contact-p2 .con-form input {
    margin-bottom: 30px;
  }
  .con-form textarea {
    width: 100%;
    height: 200px;
    margin: 10px 0 30px 0;
    border-color: #ccc;
    border-radius: 0;
    color: #717171;
  }

  .contact-box-desc {
    text-align: center;
  }

  #contact .social-icon-f {
    text-align: center;
  }
}

@media (max-width: 575px) {
  #contact .social-icon-f {
    text-align: center;
  }
}

@media (max-width: 420px) {
  #contact .social-icon-f {
    text-align: center;
  }
}
